.right-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  height: 100vh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ddd;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  z-index: 9999; /* Ensure it's on top */
}

.section {
  margin-bottom: 20px;
}

.dropdown-header {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg); /* Rotates arrow down when open */
}

.notification-list,
.activity-list,
.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notification-list li,
.activity-list li,
.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.notification-list li:hover,
.activity-list li:hover,
.contact-list li:hover {
  background-color: #f0f0f0;
}

.notification-icon,
.activity-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.notification-list li div,
.activity-list li div {
  display: flex;
  flex-direction: column;
}

.notification-list li div p,
.activity-list li div p {
  font-size: 0.9rem;
  margin: 0;
}

.notification-list li div span,
.activity-list li div span {
  font-size: 0.75rem;
  color: #888;
}

/* Styling for contacts */
.contact-list li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

h4 {
  transition: color 0.2s;
}

h4:hover {
  color: #fcbd01;
}
